.dropdown-menu {
    margin-top: 0;
}
.dropdown-menu .dropdown-toggle::after {
    vertical-align: middle;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}
.dropdown-menu .dropdown .dropdown-menu {
    left: 100%;
    top: 0%;
    margin:0 20px;
    border-width: 0;
}
.dropdown-menu .dropdown .dropdown-menu.left {
    right: 100%;
    left: auto;
}

.dropdown-menu > li a:hover,
.dropdown-menu > li.show {
	background: #007bff;
	color: white;
}
.dropdown-menu > li.show > a{
	color: white;
}

@media (min-width: 768px) {
    .dropdown-menu .dropdown .dropdown-menu {
        margin:0;
        border-width: 1px;
    }
}

#navbar-logo {
    width: 25%;
    height: 15%;
}
#cover-heading {
    font-size: x-large;
}

#myimage {
    height: 200px;
}
#my-product-title {
    text-align: center;
}
#productDiv {
    text-align: center;
}
@media only screen and (max-width: 600px) {
    
    #navbar-logo {
        width: 100px;
        height: 40px;
    }

    #cover-heading 
     {
        font-size: large;       
    }
    #myimage {
        height: 150px;
    }

}